@media only screen and (min-width: 767px) {
    .right-panel-wrapper .right-panel {
        width: 30%;
    }
    .button {
        padding: 5px 35px;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .section-placeholder .placeholder-content .edit-button {
        min-width: 0px;
        left: 50px;
        bottom: 40px;
        padding: 5px 15px;
    }
    .section-placeholder .placeholder-content .edit-button2 {
        min-width: 0px;
        right: 20px;
        bottom: 75px;
        padding: 5px 15px;
    }
}

@media only screen and (max-width: 767px) {
    .button {
        padding: 5px 20px;
    }
    .buttons2 .button:not(:last-child):not(.is-fullwidth) {
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }
    .section-placeholder .placeholder-content .edit-button {
        min-width: 0px;
        left: 55px;
        bottom: 30px;
        padding: 5px 15px;
    }
    .section-placeholder .placeholder-content .edit-button2 {
        min-width: 0px;
        right: 50px;
        bottom: 30px;
        padding: 5px 15px;
    }
}

.account-wrapper .account-box.is-form.is-footerless {
    padding-bottom: 0px;
}

.form-head, .stuck-header {
    padding: 0 !important;
}

.account-box .is-stuck {
    padding: 15px 12px !important;
}

.account-box {
    background: transparent !important;
    border-color: transparent !important;
}

.account-wrapper .account-box.is-form .form-head, .account-wrapper .account-box.is-form .form-foot {
    border-color: transparent !important;
}