<div class="page-content-inner">

  <div class="account-wrapper">
    <div class="account-box is-form is-footerless">
      <div class="form-head stuck-header">
        <div class="form-head-inner">
          <div class="left">
            <button (click)="reset()" class="button add h-button is-primary right-panel-trigger"
              data-panel="add-user-panel">
              <span class="icon">
                <i class="fal fa-plus"></i>
              </span>
              <span>Agregar</span>
            </button>
          </div>
          <div class="right">
            <div class="buttons">
              <button (click)="reset()" class="button add h-button is-primary right-panel-trigger is-hidden-desktop"
                data-panel="add-user-panel">
                <span class="icon">
                  <i class="fal fa-plus"></i>
                </span>
              </button>
              <div class="control search has-icon">
                <input class="input custom-text-filter" placeholder="Buscar..." data-filter-target=".list-view-item">
                <div class="form-icon">
                  <i data-feather="search"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="page-content-inner">

  <div class="card-grid card-grid-v3">

    <div id="active-items-tab" class="tab-content is-active">

      <div class="columns is-multiline">

        <div *ngFor="let i of suppliers; let u = index" class="column list-view-item is-3">
          <div class="card-grid-item">
            <!-- <div *ngIf="i.image" class="h-avatar is-large">
                  <img class="avatar" [src]="apiUrl + '/media/suppliers/' + i.id + '/' + i.image" alt="">
                </div> -->
            <div *ngIf="!i.image" class="h-avatar is-large">
              <span class="avatar is-fake is-primary">
                <span>{{getFakeAvatar(i.name)}}</span>
              </span>
            </div>
            <h3 class="dark-inverted" data-filter-match>{{i.name}}</h3>
            <div class="description">
              <p data-filter-match>{{i.doc}}: {{i.nit}}</p>
            </div>
            <div class="buttons buttons2" [ngClass]="{'is-disabled': i.nit == 'CF'}">
              <a (click)="setData(i, u)" data-panel="edit-user-panel" style="width: 24%;"
                class="button is-warning is-elevated right-panel-trigger">
                <i style="color: white;" class="fal fa-pencil-alt"></i>
              </a>
              <a (click)="setData(i, u)" data-panel="delete-user-panel" style="width: 24%;"
                class="button is-danger is-elevated right-panel-trigger">
                <i style="color: white;" class="fal fa-trash-alt"></i>
              </a>
              <a (click)="setData(i, u)" data-panel="select-cxp-panel" style="width: 24%;"
                class="button is-success is-elevated right-panel-trigger">
                CxP
              </a>
            </div>
          </div>
        </div>

      </div>

      <div class="list-view-item has-loader loader-list">
        <div class="list-view-item-inner">
          <div class="h-loader-wrapper">
            <div class="loader is-big is-loading"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="page-placeholder custom-text-filter-placeholder is-hidden">
      <div class="placeholder-content">
        <img class="light-image" src="assets/img/illustrations/placeholders/search-6.svg" alt="" />
        <img class="dark-image" src="assets/img/illustrations/placeholders/search-6-dark.svg" alt="" />
        <h3>¡Oh Vaya!</h3>
        <p class="is-larger">No hemos encontrado registros de tu busqueda.</p>
      </div>
    </div>

  </div>

</div>

<div id="add-user-panel" class="right-panel-wrapper is-languages">
  <div class="panel-overlay"></div>

  <div class="right-panel">
    <div class="right-panel-head">
      <h3>Agregar Proveedor</h3>
      <a class="close-panel">
        <i data-feather="x"></i>
      </a>
    </div>
    <div class="right-panel-body has-slimscroll">

      <form [formGroup]="supplierForm" (ngSubmit)="postSupplier($event)" class="panel-form">

        <div class="inner-content">
          <div class="section-placeholder">
            <div class="placeholder-content">

              <div class="form-body">
                <div class="fieldset">
                  <div id="edit-profile" class="h-avatar profile-h-avatar is-xl">
                    <!-- <img *ngIf="image" class="avatar" [src]="apiUrl + '/media/suppliers/' + userId + '/' + image"> -->
                    <div class="h-avatar is-large avatar">
                      <span class="avatar is-fake is-primary">
                        <span>
                          {{getFakeAvatar(supplierForm.controls['name'].value)}}
                        </span>
                      </span>
                    </div>
                    <h3 class="dark-inverted">
                      {{supplierForm.controls['name'].value}}
                    </h3>
                    <!-- <div class="filepond-profile-wrap is-hidden">
                          <input (change)="postImage()" type="file" class="profile-filepond" name="profile_filepond"
                            accept="image/png, image/jpeg, image/gif">
                        </div>
                        <button class="button is-circle edit-button is-edit">
                          <span class="icon is-small">
                            <i data-feather="edit-2"></i>
                          </span>
                        </button>
                        <button class="button is-circle edit-button is-back is-hidden">
                          <span class="icon is-small">
                            <i data-feather="arrow-left"></i>
                          </span>
                        </button> -->
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="columns is-multiline">

          <div class="column is-6">
            <div class="field">
              <label>Nombre <span class="req">*</span></label>
              <div class="control">
                <input formControlName="name" type="text" class="input" placeholder="Nombre">
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label>Nit <span class="req">*</span></label>
              <div class="control">
                <input formControlName="nit" type="text" class="input" placeholder="Nit">
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label>Correo</label>
              <div class="control">
                <input formControlName="email" type="text" class="input" placeholder="Correo">
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label>Tipo Doc <span class="req">*</span></label>
              <div class="control">
                <label class="radio is-outlined is-primary">
                  <input formControlName="doc" type="radio" name="doc" value="NIT">
                  <span></span>
                  NIT
                </label>

                <label class="radio is-outlined is-primary">
                  <input formControlName="doc" type="radio" name="doc" value="DPI">
                  <span></span>
                  DPI
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="buttons is-right">
          <button id="bt-add-supplier" [ngClass]="{ 'is-disabled': supplierForm.invalid }"
            class="button h-button is-primary is-elevated">
            Guardar
          </button>
        </div>

      </form>

    </div>
  </div>
</div>

<div id="edit-user-panel" class="right-panel-wrapper is-languages">
  <div class="panel-overlay"></div>

  <div class="right-panel">
    <div class="right-panel-head">
      <h3>Editar Proveedor</h3>
      <a class="close-panel">
        <i data-feather="chevron-right"></i>
      </a>
    </div>
    <div class="right-panel-body has-slimscroll">

      <form [formGroup]="supplierForm" (ngSubmit)="putSupplier($event)" class="panel-form">

        <div class="inner-content">
          <div class="section-placeholder">
            <div class="placeholder-content">

              <div class="form-body">
                <div class="fieldset">
                  <div id="edit-profile" class="h-avatar profile-h-avatar is-xl">
                    <!-- <img *ngIf="image" class="avatar" [src]="apiUrl + '/media/suppliers/' + userId + '/' + image"> -->
                    <div class="h-avatar is-large avatar">
                      <span class="avatar is-fake is-primary">
                        <span>
                          {{getFakeAvatar(supplierForm.controls['name'].value)}}
                        </span>
                      </span>
                    </div>
                    <h3 class="dark-inverted">
                      {{supplierForm.controls['name'].value}}
                    </h3>
                    <!-- <div class="filepond-profile-wrap is-hidden">
                          <input (change)="postImage()" type="file" class="profile-filepond" name="profile_filepond"
                            accept="image/png, image/jpeg, image/gif">
                        </div>
                        <button class="button is-circle edit-button is-edit">
                          <span class="icon is-small">
                            <i data-feather="edit-2"></i>
                          </span>
                        </button>
                        <button class="button is-circle edit-button is-back is-hidden">
                          <span class="icon is-small">
                            <i data-feather="arrow-left"></i>
                          </span>
                        </button> -->
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="columns is-multiline">

          <div class="column is-12" *ngIf="supplierForm.controls['doc'].value == 'NIT'">
            <div class="field">
              <label>Correo</label>
              <div class="control">
                <input formControlName="email" type="text" class="input" placeholder="Correo">
              </div>
            </div>
          </div>

          <div class="column is-6" *ngIf="supplierForm.controls['doc'].value == 'DPI'">
            <div class="field">
              <label>Nombre <span class="req">*</span></label>
              <div class="control">
                <input formControlName="name" type="text" class="input" placeholder="Nombre">
              </div>
            </div>
          </div>
          <div class="column is-6" *ngIf="supplierForm.controls['doc'].value == 'DPI'">
            <div class="field">
              <label>Correo</label>
              <div class="control">
                <input formControlName="email" type="text" class="input" placeholder="Correo">
              </div>
            </div>
          </div>

        </div>
        <div class="buttons is-right">
          <button id="bt-edit-supplier" [ngClass]="{ 'is-disabled': supplierForm.invalid }" type="submit"
            class="button h-button is-warning is-elevated">
            Actualizar
          </button>
        </div>

      </form>

    </div>
  </div>
</div>

<div id="delete-user-panel" class="right-panel-wrapper is-languages">
  <div class="panel-overlay"></div>

  <div class="right-panel">
    <div class="right-panel-head">
      <h3>Eliminar Proveedor</h3>
      <a class="close-panel">
        <i data-feather="chevron-right"></i>
      </a>
    </div>
    <div class="right-panel-body has-slimscroll">

      <form [formGroup]="supplierForm" (ngSubmit)="deleteSupplier($event)" class="panel-form">
        <div class="inner-content">
          <div class="section-placeholder">
            <div class="placeholder-content">

              <div class="form-body">
                <div class="fieldset">
                  <div id="edit-profile" class="h-avatar profile-h-avatar is-xl">
                    <!-- <img *ngIf="image" class="avatar delete-img" [src]="apiUrl +  '/media/suppliers/' + userId + '/' + image"
                    alt=""> -->
                    <div class="h-avatar is-large avatar">
                      <span class="avatar is-fake is-primary">
                        <span>
                          {{getFakeAvatar(supplierForm.controls['name'].value)}}
                        </span>
                      </span>
                    </div>
                    <h3 class="dark-inverted">
                      {{supplierForm.controls['name'].value}}
                    </h3>
                    <p>¿Estas seguro de eliminarlo?</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="buttons is-centered">
          <button id="bt-delete-supplier" [ngClass]="{ 'is-disabled': supplierForm.invalid }"
            class="button h-button is-danger is-elevated">
            Eliminar
          </button>
        </div>
      </form>

    </div>
  </div>
</div>

<div id="select-cxp-panel" class="right-panel-wrapper is-languages">
  <div class="panel-overlay"></div>

  <div class="right-panel">
    <div class="right-panel-head">
      <h3>Cuenta x Pagar</h3>
      <a class="close-panel">
        <i data-feather="x"></i>
      </a>
    </div>
    <div class="right-panel-body has-slimscroll">

      <div class="panel-form">
        <div class="columns">
          <div class="column is-12">
            <div class="control search has-icon">
              <h1 class="light-text" style="font-size: 20px;">
                <i class="fad fa-user-tag"></i>
                {{supplierForm.controls['name'].value}}
              </h1>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-12">
            <div class="control is-expanded has-icon">
              <input ngxDaterangepickerMd [locale]="{applyLabel: 'Filtrar', format: 'YYYY-MM-DD'}" [(ngModel)]="range"
                [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" [autoApply]="true" [closeOnAutoApply]="true"
                [linkedCalendars]="true" [ranges]="ranges" class="md-input" [ngClass]="{'input': true}">
              <div class="form-icon">
                <i class="fal fa-calendar"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-12">

            <div class="columns">
              <div class="column">
                <button id="search-button" (click)="getCxP()" class="button h-button is-primary is-elevated">
                  <span class="icon">
                    <i class="fas fa-search"></i>
                  </span>
                  <span>Buscar</span>
                </button>
              </div>
              <div class="column" style="text-align:right;">
                <button id="rep-button" (click)="reportCxP()" class="button h-button is-primary is-elevated">
                  <span class="icon">
                    <i class="fas fa-file-pdf"></i>
                  </span>
                  <span>Generar Reporte</span>
                </button>
              </div>
            </div>

            <div class="flex-table">
              <div>
                <h3 class="dark-inverted" style="margin-left: 15px;">{{cxp.length}} movimientos</h3>
              </div>
              <br>
              <div class="flex-table-header">
                <span class="is-grow">Operacion</span>
                <span class="is-grow">Referencia</span>
                <span>Crédito</span>
                <span>Débito</span>
              </div>

              <div class="center" *ngIf="cxp.length == 0" style="text-align: center;">
                <h3 class="light-text">No existen movimientos</h3>
                <br>
              </div>

              <a *ngFor="let i of cxp" class="flex-table-item">
                <div class="flex-table-cell is-media is-grow" data-th="">
                  <div class="h-avatar">
                    <img class="avatar" [src]="apiUrl + i.document.image">
                  </div>
                  <div>
                    <span class="item-name dark-inverted" data-filter-match>{{i.document.typedocument.name}}
                      {{i.serie}}-{{i.correlative}}</span>
                    <span class="item-meta">
                      <span data-filter-match>
                        <i class="fal fa-calendar"></i> {{i.date | date: 'dd-MM-yyyy, HH:mm'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div *ngIf="i.operationId != null" class="flex-table-cell is-media is-grow" data-th="Referencia">
                  <div class="h-avatar">
                    <img class="avatar" [src]="apiUrl + i.operation.document.image">
                  </div>
                  <div>
                    <span class="item-name dark-inverted" data-filter-match>{{i.operation.document.typedocument.name}}
                      {{i.operation.serie}}-{{i.operation.correlative}}</span>
                    <span class="item-meta">
                      <span data-filter-match>
                        <i class="fal fa-calendar"></i> {{i.operation.date | date: 'dd-MM-yyyy, HH:mm'}}
                      </span>
                    </span>
                  </div>
                </div>
                <div *ngIf="i.operationId == null" class="flex-table-cell is-media is-grow" data-th="Referencia">
                  <span class="light-text"></span>
                </div>
                <div class="flex-table-cell" data-th="Crédito">
                  <div *ngIf="i.operationId == null">
                    <span class="light-text">{{getCurrency(i.currency)}}{{i.total}}</span>
                  </div>
                  <div *ngIf="i.operationId != null">
                    <span class="light-text">{{getCurrency(i.currency)}}0.00</span>
                  </div>
                </div>
                <div class="flex-table-cell" data-th="Débito">
                  <div *ngIf="i.operationId == null">
                    <span class="light-text">{{getCurrency(i.currency)}}0.00</span>
                  </div>
                  <div *ngIf="i.operationId != null">
                    <span class="light-text">{{getCurrency(i.currency)}}{{i.total}}</span>
                  </div>
                </div>
              </a>
              <a class="flex-table-item">
                <div class="flex-table-cell is-media is-grow" data-th="">

                </div>
                <div class="flex-table-cell is-media is-grow" data-th="Referencia">
                  <span class="light-text">TOTALES</span>
                </div>
                <div class="flex-table-cell" data-th="Crédito">
                  <span class="light-text">{{credito}}</span>
                </div>
                <div class="flex-table-cell" data-th="Débito">
                  <span class="light-text">{{debito}}</span>
                </div>
              </a>
              <a class="flex-table-item">
                <div class="flex-table-cell is-media is-grow" data-th="">

                </div>
                <div class="flex-table-cell is-media is-grow" data-th="Referencia">
                  <span class="light-text">SALDO ACTUAL</span>
                </div>
                <div class="flex-table-cell" data-th="Crédito">

                </div>
                <div class="flex-table-cell" data-th="Débito">
                  <span class="light-text">{{credito - debito}}</span>
                </div>
              </a>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>