@media only screen and (min-width: 767px) {
    #add-product-panel .right-panel {
      width: 40% !important;
    }
    
    #edit-product-panel .right-panel {
      width: 40% !important;
    }
    
    #select-receta-panel .right-panel {
      width: 40% !important;
    }

    #select-variation-panel .right-panel {
      width: 40% !important;
    }

    #select-variation2-panel .right-panel {
      width: 40% !important;
    }
}

.h-avatar {
    width: 100% !important;
}

.flex-table .flex-table-item .flex-table-cell.is-user>div span:not(.avatar), .flex-table .flex-table-item .flex-table-cell.is-media>div span:not(.avatar) {
  display: flex;
  text-align: left;
}

.quantity {
  width: 70%;
  height: 25px;
}

.is-combo {
  background-color: #525354 !important;
}