<div class="page-content-inner">

  <div class="account-wrapper">
    <div class="account-box is-form is-footerless">
      <div class="form-head stuck-header">
        <div class="form-head-inner">
          <div class="left">
            <button (click)="reset()" class="button add h-button is-primary right-panel-trigger"
              data-panel="add-product-panel">
              <span class="icon">
                <i class="fal fa-plus"></i>
              </span>
              <span>Agregar</span>
            </button>
          </div>
          <div class="right">
            <div class="buttons">
              <button (click)="reset()" class="button add h-button is-primary right-panel-trigger is-hidden-desktop"
                data-panel="add-product-panel">
                <span class="icon">
                  <i class="fal fa-plus"></i>
                </span>
              </button>
              <div class="control search has-icon">
                <input class="input custom-text-filter" placeholder="Buscar..." data-filter-target=".list-view-item">
                <div class="form-icon">
                  <i data-feather="search"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="page-content-inner">

  <div class="card-grid card-grid-v3">

    <div id="active-items-tab" class="tab-content is-active">

      <div class="columns is-multiline">

        <div *ngFor="let i of products; let u = index" class="column list-view-item is-3">
          <div class="card-grid-item">
            <div *ngIf="i.image" class="h-avatar is-large">
              <img class="avatar" [src]="apiUrl + i.image">
            </div>
            <div *ngIf="!i.image" class="h-avatar is-large">
              <span class="avatar is-fake is-primary">
                <span>{{getFakeAvatar(i.name)}}</span>
              </span>
            </div>

            <h3 class="dark-inverted" data-filter-match>{{i.name}}</h3>
            <div class="description">
              <span style="display: initial; color: white" class="tag is-primary" data-filter-match>{{i.type}}</span>
              <p data-filter-match>SKU. {{i.sku}}</p>
            </div>
            <div class="buttons buttons2">
              <a (click)="setData(i, u)" data-panel="edit-product-panel" style="width: 24%;"
                class="button is-warning is-elevated right-panel-trigger">
                <i style="color: white;" class="fal fa-pencil-alt"></i>
              </a>
              <a (click)="setData(i, u)" data-panel="delete-product-panel" style="width: 24%;"
                class="button is-danger is-elevated right-panel-trigger">
                <i style="color: white;" class="fal fa-trash-alt"></i>
              </a>
            </div>
          </div>
        </div>

      </div>

      <div class="list-view-item has-loader loader-list">
        <div class="list-view-item-inner">
          <div class="h-loader-wrapper">
            <div class="loader is-big is-loading"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="page-placeholder custom-text-filter-placeholder is-hidden">
      <div class="placeholder-content">
        <img class="light-image" src="assets/img/illustrations/placeholders/search-6.svg" alt="" />
        <img class="dark-image" src="assets/img/illustrations/placeholders/search-6-dark.svg" alt="" />
        <h3>¡Oh Vaya!</h3>
        <p class="is-larger">No hemos encontrado registros de tu busqueda.</p>
      </div>
    </div>

  </div>

</div>

<div id="add-product-panel" class="right-panel-wrapper is-languages is-right">
  <div class="panel-overlay"></div>

  <div class="right-panel">
    <div class="right-panel-head">
      <h3>Agregar Producto</h3>
      <a class="close-panel">
        <i data-feather="x"></i>
      </a>
    </div>
    <div class="right-panel-body has-slimscroll">

      <form [formGroup]="productForm" (ngSubmit)="postProduct($event)" class="panel-form">

        <div class="inner-content">
          <div class="section-placeholder">
            <div class="placeholder-content">

              <div class="form-body">
                <div class="fieldset">
                  <div id="edit-profile" class="h-avatar profile-h-avatar is-xl">
                    <!-- <img *ngIf="image" class="avatar" [src]="apiUrl + '/media/products/' + userId + '/' + image"> -->
                    <div class="h-avatar is-large avatar">
                      <span class="avatar is-fake is-primary">
                        <span>
                          {{getFakeAvatar(productForm.controls['name'].value)}}
                        </span>
                      </span>
                    </div>
                    <h3 class="dark-inverted">
                      {{productForm.controls['name'].value}}
                    </h3>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="columns is-multiline">

          <div class="column is-6">
            <div class="field">
              <label>Nombre <span class="req">*</span></label>
              <div class="control">
                <input formControlName="name" type="text" class="input" placeholder="Nombre">
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label>SKU <span class="req">*</span></label>
              <div class="control">
                <input formControlName="sku" type="tel" class="input" placeholder="SKU">
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="field">
              <label>Tipo <span class="req">*</span></label>
              <div class="control">
                <div class="select">
                  <select formControlName="type">
                    <option value="BIEN">BIEN</option>
                    <option value="SERVICIO">SERVICIO</option>
                    <option value="COMBO">COMBO</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-4" [ngClass]="{'is-disabled': productForm.controls['type'].value == 'COMBO'}">
            <div class="field">
              <label>Costo <span class="req">*</span></label>
              <div class="control">
                <input formControlName="cost" type="number" class="input" placeholder="Costo">
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="field">
              <label>Precio <span class="req">*</span></label>
              <div class="control">
                <input formControlName="price" type="number" class="input" placeholder="Precio">
              </div>
            </div>
          </div>

          <div class="column is-5">
            <div class="field" [ngClass]="{'is-hidden': productForm.controls['type'].value == 'COMBO'}">
              <label>Unidad de Medida Compra <span class="req">*</span></label>
              <div class="control">
                <div class="select">
                  <select formControlName="entryUnitId">
                    <option [value]="null" hidden></option>
                    <option *ngFor="let i of units" [value]="i.id">{{i.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-3">
            <div class="field" [ngClass]="{'is-hidden': productForm.controls['type'].value == 'COMBO'}">
              <label>Equivalencia <span class="req">*</span></label>
              <div class="control">
                <input formControlName="equivalence" type="number" min="1" class="input" placeholder="Equivalencia"
                  autocomplete="on">
              </div>
            </div>
          </div>

          <div class="column is-4" [ngClass]="{'is-hidden': productForm.controls['type'].value == 'COMBO'}">
            <div class="field">
              <label>Unidad de Medida Venta <span class="req">*</span></label>
              <div class="control">
                <div class="select">
                  <select formControlName="unitId">
                    <option [value]="null" hidden></option>
                    <option *ngFor="let i of units" [value]="i.id">{{i.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-5">
            <div class="field" [ngClass]="{'is-hidden': productForm.controls['type'].value == 'COMBO'}">
              <label>Categoría<span class="req">*</span></label>
              <div class="control">
                <div class="select">
                  <select formControlName="productCategoryId">
                    <option [value]="null" hidden></option>
                    <option *ngFor="let i of productsCategories" [value]="i.id">{{i.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>


          <!-- <div *ngIf="productForm.controls['type'].value != 'COMBO'" class="column is-12"
            style="text-align: right !important;">
            <a class="button h-button is-primary" (click)="panelVariation()">
              <span class="icon">
                <i class="fal fa-credit-card"></i>
              </span>
              <span>Agregar Variación</span>
            </a>

            <br><br>

            <div class="flex-table">

              <a *ngFor="let i of variations; let u = index" class="flex-table-item">
                <div class="flex-table-cell is-media is-grow" data-th="">
                  <div *ngIf="!i.image">
                    <div class="h-avatar is-medium">
                      <span class="avatar is-fake is-primary">
                        <span>
                          {{i.symbol}}
                        </span>
                      </span>
                    </div>
                  </div>
                  <div *ngIf="i.image">
                    <div class="h-avatar is-medium">
                      <span class="avatar is-fake is-primary">
                        <img class="avatar" [src]="apiUrl + i.image">
                      </span>
                    </div>
                  </div>
                  <div>
                    <span class="item-name dark-text" data-filter-match>
                      {{i.name}}
                    </span>
                  </div>
                </div>
                <div class="flex-table-cell cell-end" data-th="Acciones">
                  <div class="dropdown is-spaced is-dots is-right dropdown-trigger is-pushed-mobile">
                    <a (click)="deleteVariation(u, i)" class="button edit-button2 is-danger">
                      <span class="icon is-small">
                        <i class="fal fa-trash"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </a>

            </div>

          </div> -->

          <div *ngIf="productForm.controls['type'].value == 'COMBO'" class="column is-12"
            style="text-align: right !important;">

            <a class="button h-button is-primary" (click)="panelReceta()">
              <span class="icon">
                <i class="fal fa-credit-card"></i>
              </span>
              <span>Agregar Receta</span>
            </a>

            <br><br>

            <div class="flex-table">

              <a *ngFor="let i of recipes; let u = index" class="flex-table-item">
                <div class="flex-table-cell is-media is-grow" data-th="">
                  <div *ngIf="!i.image">
                    <div class="h-avatar is-medium">
                      <span class="avatar is-fake is-primary">
                        <span>
                          {{getFakeAvatar(i.name)}}
                        </span>
                      </span>
                    </div>
                  </div>
                  <div *ngIf="i.image">
                    <div class="h-avatar is-medium">
                      <span class="avatar is-fake is-primary">
                        <img class="avatar" [src]="apiUrl + i.image">
                      </span>
                    </div>
                  </div>
                  <div>
                    <span class="item-name dark-text" data-filter-match>
                      {{i.name}}
                    </span>
                    <span class="item-meta dark-text" data-filter-match>
                      SKU: {{i.sku}} <br> Costo: {{i.cost}} | Precio {{i.price}}
                    </span>
                  </div>
                </div>
                <div class="flex-table-cell cell-end" data-th="Cantidad">
                  <span class="light-text">
                    <input type="number" class="input quantity" [(ngModel)]="i.quantity"
                      [ngModelOptions]="{standalone: true}" (change)="costTotal()" (input)="costTotal()" [min]="1">
                    {{i.unit.symbol}}
                  </span>
                </div>
                <div class="flex-table-cell cell-end" data-th="Acciones">
                  <div class="dropdown is-spaced is-dots is-right dropdown-trigger is-pushed-mobile">
                    <a (click)="deleteRecipe(u, i)" class="button edit-button2 is-danger">
                      <span class="icon is-small">
                        <i class="fal fa-trash"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </a>

            </div>

          </div>


        </div>
        <div class="buttons is-centered">
          <button id="bt-add-product" [ngClass]="{ 'is-disabled': productForm.invalid }"
            class="button h-button is-primary is-elevated">
            Guardar
          </button>
        </div>

      </form>

    </div>
  </div>
</div>

<div id="edit-product-panel" class="right-panel-wrapper is-languages is-right">
  <div class="panel-overlay"></div>

  <div class="right-panel">
    <div class="right-panel-head">
      <h3>Editar Producto</h3>
      <a class="close-panel">
        <i data-feather="chevron-right"></i>
      </a>
    </div>
    <div class="right-panel-body has-slimscroll">

      <form [formGroup]="productForm" (ngSubmit)="putProduct($event)" class="panel-form">

        <div class="inner-content">
          <div class="section-placeholder">
            <div class="placeholder-content">

              <div class="form-body">
                <div class="fieldset">
                  <div (change)="postImage()" id="edit-profile" class="h-avatar profile-h-avatar is-xl">
                    <div *ngIf="productForm.controls['image'].value">
                      <div class="h-avatar is-large avatar">
                        <img id="uploaded" class="avatar" [src]="apiUrl + productForm.controls['image'].value">
                      </div>
                    </div>
                    <div *ngIf="!productForm.controls['image'].value">
                      <div class="h-avatar is-large avatar">
                        <span class="avatar is-fake is-primary">
                          <span>
                            {{getFakeAvatar(productForm.controls['name'].value)}}
                          </span>
                        </span>
                      </div>
                    </div>
                    <div id="upload" class="filepond-profile-wrap is-hidden">
                      <input (change)="postImage()" type="file" class="profile-filepond"
                        accept="image/png, image/jpeg, image/gif">
                    </div>
                    <a id="uploaded-btn" class="button is-circle edit-button">
                      <span class="icon is-small">
                        <i class="fal fa-pencil"></i>
                      </span>
                    </a>
                    <a id="upload-btn" class="button is-circle edit-button is-hidden">
                      <span class="icon is-small">
                        <i data-feather="arrow-left"></i>
                      </span>
                    </a>
                    <a (click)="deleteImage()" class="button is-circle edit-button2">
                      <span class="icon is-small">
                        <i class="fal fa-trash"></i>
                      </span>
                    </a>
                  </div>
                </div>
                <div class="fieldset">
                  <div class="h-avatar profile-h-avatar">
                    <h3 class="dark-inverted">
                      {{productForm.controls['name'].value}}
                    </h3>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="columns is-multiline">

          <div class="column is-6">
            <div class="field">
              <label>Nombre <span class="req">*</span></label>
              <div class="control">
                <input formControlName="name" type="text" class="input" placeholder="Nombre">
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label>SKU <span class="req">*</span></label>
              <div class="control">
                <input formControlName="sku" type="tel" class="input" placeholder="SKU">
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="field">
              <label>Tipo <span class="req">*</span></label>
              <div class="control">
                <div class="select">
                  <select formControlName="type">
                    <option value="BIEN">BIEN</option>
                    <option value="SERVICIO">SERVICIO</option>
                    <option value="COMBO">COMBO</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-4" [ngClass]="{'is-disabled': productForm.controls['type'].value == 'COMBO'}">
            <div class="field">
              <label>Costo <span class="req">*</span></label>
              <div class="control">
                <input formControlName="cost" type="number" class="input" placeholder="Costo">
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="field">
              <label>Precio <span class="req">*</span></label>
              <div class="control">
                <input formControlName="price" type="number" class="input" placeholder="Precio">
              </div>
            </div>
          </div>

          <div class="column is-4">
            <div class="field" [ngClass]="{'is-hidden': productForm.controls['type'].value == 'COMBO'}">
              <label>Unidad de Medida Compra <span class="req">*</span></label>
              <div class="control">
                <div class="select">
                  <select formControlName="entryUnitId">
                    <option [value]="null" hidden></option>
                    <option *ngFor="let i of units" [value]="i.id">{{i.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-4">
            <div class="field" [ngClass]="{'is-hidden': productForm.controls['type'].value == 'COMBO'}">
              <label>Equivalencia <span class="req">*</span></label>
              <div class="control">
                <input formControlName="equivalence" type="number" min="1" class="input" placeholder="Equivalencia"
                  autocomplete="on">
              </div>
            </div>
          </div>

          <div class="column is-4" [ngClass]="{'is-hidden': productForm.controls['type'].value == 'COMBO'}">
            <div class="field">
              <label>Unidad de Medida Venta <span class="req">*</span></label>
              <div class="control">
                <div class="select">
                  <select formControlName="unitId">
                    <option [value]="null" hidden></option>
                    <option *ngFor="let i of units" [value]="i.id">{{i.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-5">
            <div class="field" [ngClass]="{'is-hidden': productForm.controls['type'].value == 'COMBO'}">
              <label>Categoría<span class="req">*</span></label>
              <div class="control">
                <div class="select">
                  <select formControlName="productCategoryId">
                    <option [value]="null" hidden></option>
                    <option *ngFor="let i of productsCategories" [value]="i.id">{{i.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- <div *ngIf="productForm.controls['type'].value != 'COMBO'" class="column is-12"
            style="text-align: right !important;">
            <a class="button h-button is-primary" (click)="panelVariation()">
              <span class="icon">
                <i class="fal fa-credit-card"></i>
              </span>
              <span>Agregar Variación</span>
            </a>

            <br><br>

            <div class="flex-table">

              <a *ngFor="let i of variations; let u = index" class="flex-table-item">
                <div class="flex-table-cell is-media is-grow" data-th="">
                  <div *ngIf="!i.image">
                    <div class="h-avatar is-medium">
                      <span class="avatar is-fake is-primary">
                        <span>
                          {{i.symbol}}
                        </span>
                      </span>
                    </div>
                  </div>
                  <div *ngIf="i.image">
                    <div class="h-avatar is-medium">
                      <span class="avatar is-fake is-primary">
                        <img class="avatar" [src]="apiUrl + i.image">
                      </span>
                    </div>
                  </div>
                  <div>
                    <span class="item-name dark-text" data-filter-match>
                      {{i.name}}
                    </span>
                  </div>
                </div>
                <div class="flex-table-cell cell-end" data-th="Acciones">
                  <div class="dropdown is-spaced is-dots is-right dropdown-trigger is-pushed-mobile">
                    <a (click)="deleteVariation(u, i)" class="button edit-button2 is-danger">
                      <span class="icon is-small">
                        <i class="fal fa-trash"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </a>

            </div>

          </div> -->

          <div *ngIf="productForm.controls['type'].value == 'COMBO'" class="column is-12"
            style="text-align: right !important;">

            <a class="button h-button is-primary" (click)="panelReceta()">
              <span class="icon">
                <i class="fal fa-credit-card"></i>
              </span>
              <span>Agregar Componente</span>
            </a>

            <br><br>

            <div class="flex-table">

              <a *ngFor="let i of recipes; let u = index" class="flex-table-item">
                <div class="flex-table-cell is-media is-grow" data-th="">
                  <div *ngIf="!i.image">
                    <div class="h-avatar is-medium">
                      <span class="avatar is-fake is-primary">
                        <span>
                          {{getFakeAvatar(i.name)}}
                        </span>
                      </span>
                    </div>
                  </div>
                  <div *ngIf="i.image">
                    <div class="h-avatar is-medium">
                      <span class="avatar is-fake is-primary">
                        <img class="avatar" [src]="apiUrl + i.image">
                      </span>
                    </div>
                  </div>
                  <div>
                    <span class="item-name dark-text" data-filter-match>
                      {{i.name}}
                    </span>
                    <span class="item-meta dark-text" data-filter-match>
                      SKU: {{i.sku}} <br> Costo: {{i.cost}} | Precio {{i.price}}
                    </span>
                  </div>
                </div>
                <div class="flex-table-cell cell-end" data-th="Cantidad">
                  <span class="light-text">
                    <input type="number" class="input quantity" [(ngModel)]="i.quantity"
                      [ngModelOptions]="{standalone: true}" (change)="costTotal()" (input)="costTotal()" [min]="1">
                    {{i.unit.symbol}}
                  </span>
                </div>
                <div class="flex-table-cell cell-end" data-th="Acciones">
                  <div class="dropdown is-spaced is-dots is-right dropdown-trigger is-pushed-mobile">
                    <a (click)="deleteRecipe(u, i)" class="button edit-button2 is-danger">
                      <span class="icon is-small">
                        <i class="fal fa-trash"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </a>

            </div>

          </div>


        </div>
        <div class="buttons is-centered">
          <button id="bt-edit-product" [ngClass]="{ 'is-disabled': productForm.invalid }" type="submit"
            class="button h-button is-warning is-elevated">
            Actualizar
          </button>
        </div>

      </form>

    </div>
  </div>
</div>

<div id="delete-product-panel" class="right-panel-wrapper is-languages is-right">
  <div class="panel-overlay"></div>

  <div class="right-panel">
    <div class="right-panel-head">
      <h3>Eliminar Producto</h3>
      <a class="close-panel">
        <i data-feather="chevron-right"></i>
      </a>
    </div>
    <div class="right-panel-body has-slimscroll">

      <form [formGroup]="productForm" (ngSubmit)="deleteProduct($event)" class="panel-form">
        <div class="inner-content">
          <div class="section-placeholder">
            <div class="placeholder-content">

              <div class="form-body">
                <div class="fieldset">
                  <div id="edit-profile" class="h-avatar profile-h-avatar is-xl">
                    <!-- <img *ngIf="image" class="avatar delete-img" [src]="apiUrl +  '/media/products/' + userId + '/' + image"
                      alt=""> -->
                    <div class="h-avatar is-large avatar">
                      <span class="avatar is-fake is-primary">
                        <span>
                          {{getFakeAvatar(productForm.controls['name'].value)}}
                        </span>
                      </span>
                    </div>
                    <h3 class="dark-inverted">
                      {{productForm.controls['name'].value}}
                    </h3>
                    <p>¿Estás seguro de eliminarlo?</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="buttons is-centered">
          <button id="bt-delete-product" [ngClass]="{ 'is-disabled': productForm.invalid }"
            class="button h-button is-danger is-elevated">
            Eliminar
          </button>
        </div>
      </form>

    </div>
  </div>
</div>

<div id="select-receta-panel" class="right-panel-wrapper is-languages is-rigth">
  <div class="panel-overlay"></div>

  <div class="right-panel">
    <div class="right-panel-head">
      <h3>Selecciona un Producto</h3>
      <a class="close-panel">
        <i data-feather="chevron-right"></i>
      </a>
    </div>
    <div class="right-panel-body has-slimscroll">

      <div class="panel-form">
        <div class="columns">
          <div class="column is-12">

            <div class="buttons">
              <div class="control search has-icon" style="width: 100% !important;">
                <input class="input custom-text-filter" placeholder="Buscar..." data-filter-target=".products">
                <div class="form-icon">
                  <i data-feather="search"></i>
                </div>
              </div>
            </div>

            <div class="flex-table">

              <a *ngFor="let i of products" class="flex-table-item products" (click)="setProduct(i)"
                [ngClass]="{'is-combo': i.type == 'COMBO'}">
                <div class="flex-table-cell is-media is-grow" data-th="">
                  <div *ngIf="!i.image">
                    <div class="h-avatar is-medium">
                      <span class="avatar is-fake is-primary">
                        <span>
                          {{getFakeAvatar(i.name)}}
                        </span>
                      </span>
                    </div>
                  </div>
                  <div *ngIf="i.image">
                    <div class="h-avatar is-medium">
                      <span class="avatar is-fake is-primary">
                        <img class="avatar" [src]="apiUrl + i.image">
                      </span>
                    </div>
                  </div>
                  <div>
                    <span class="item-name dark-text" data-filter-match>
                      {{i.name}} ({{i.type}})
                    </span>
                    <span class="item-meta">
                      <span class="dark-text" data-filter-match>
                        SKU: {{i.sku}} | Costo: {{i.cost}} | Precio {{i.price}}
                      </span>
                    </span>
                  </div>
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="select-variation-panel" class="right-panel-wrapper is-languages is-rigth">
  <div class="panel-overlay"></div>

  <div class="right-panel">
    <div class="right-panel-head">
      <h3>Selecciona un atributo</h3>
      <a class="close-panel">
        <i data-feather="chevron-right"></i>
      </a>
    </div>
    <div class="right-panel-body has-slimscroll">

      <div class="panel-form">
        <div class="columns">
          <div class="column is-12">

            <div class="buttons">
              <div class="control search has-icon" style="width: 100% !important;">
                <input class="input custom-text-filter" placeholder="Buscar..." data-filter-target=".attributes">
                <div class="form-icon">
                  <i data-feather="search"></i>
                </div>
              </div>
            </div>

            <div class="flex-table">

              <a *ngFor="let i of attributes" class="flex-table-item attributes" (click)="setAttribute(i)"
                [ngClass]="{'is-disabled': selectedVariation(i.id)}">
                <div class="flex-table-cell is-media is-grow" data-th="">
                  <div>
                    <div class="h-avatar is-medium">
                      <span class="avatar is-fake is-primary">
                        <span>
                          {{i.symbol}}
                        </span>
                      </span>
                    </div>
                  </div>
                  <div>
                    <span class="item-name dark-text" data-filter-match>
                      {{i.name}}
                    </span>
                    <!-- <span class="item-meta">
                      <span class="dark-text" data-filter-match>
                        {{i.symbol}}
                      </span>
                    </span> -->
                  </div>
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="select-variation2-panel" class="right-panel-wrapper is-languages is-rigth">
  <div class="panel-overlay"></div>

  <div class="right-panel">
    <div class="right-panel-head">
      <h3>Selecciona una Variaciones</h3>
      <a class="close-panel">
        <i data-feather="chevron-right"></i>
      </a>
    </div>
    <div class="right-panel-body has-slimscroll">

      <div class="panel-form">
        <div class="columns">
          <div class="column is-12">

            <div class="buttons">
              <div class="control search has-icon" style="width: 100% !important;">
                <input class="input custom-text-filter" placeholder="Buscar..." data-filter-target=".variations">
                <div class="form-icon">
                  <i data-feather="search"></i>
                </div>
              </div>
            </div>

            <div class="flex-table">

              <a *ngFor="let i of variations2" class="flex-table-item variations" (click)="setVariation(i)">
                <div class="flex-table-cell is-media is-grow" data-th="">
                  <div>
                    <div class="h-avatar is-medium">
                      <span class="avatar is-fake is-primary">
                        <span>
                          {{i.attribute.symbol}}
                        </span>
                      </span>
                    </div>
                  </div>
                  <div>
                    <span class="item-name dark-text" data-filter-match>
                      {{i.attribute.name}}
                    </span>
                    <!-- <span class="item-meta">
                      <span class="dark-text" data-filter-match>
                        {{i.symbol}}
                      </span>
                    </span> -->
                  </div>
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>